<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		 xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
  		 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
  		 id="WebApp_ID"  version="3.1">
  <display-name>testWeb</display-name>
  <servlet>
  	<servlet-name>loginServlet</servlet-name>
  	<servlet-class>testWeb.servlet.UserLoginServlet</servlet-class>
  	 </servlet>
  	 
  	<servlet>
  	<servlet-name>AddServlet</servlet-name>
  	<servlet-class>testWeb.servlet.AddServlet</servlet-class>
    </servlet>
    
    <servlet>
  	<servlet-name>RobotQueryServlet</servlet-name>
  	<servlet-class>testWeb.servlet.RobotQueryServlet</servlet-class>
  	 </servlet>
  
  <welcome-file-list>
 	<welcome-file>/login.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet-mapping>
  	<servlet-name>loginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  	  </servlet-mapping>
  	  
  	 <servlet-mapping>
  	<servlet-name>AddServlet</servlet-name>
  	<url-pattern>/register</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
  	<servlet-name>RobotQueryServlet</servlet-name>
  	<url-pattern>/RobotInfo</url-pattern>
  	  </servlet-mapping>
  
</web-app>

